[project]
	description = Demo Usage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kamasubb
[access "refs/for/refs/*"]
	read = group user/kamasubb
	push = group user/kamasubb
	label-Code-Review = -2..+2 group user/kamasubb
	label-Verified = -1..+1 group user/kamasubb
	rebase = group user/kamasubb
	removeReviewer = group user/kamasubb
	submit = group user/kamasubb
[access "refs/heads/*"]
	read = group user/kamasubb
	create = group user/kamasubb
	push = +force group user/kamasubb
	pushMerge = group user/kamasubb
[access "refs/tags/*"]
	push = +force group user/kamasubb
	pushTag = group user/kamasubb
	pushSignedTag = group user/kamasubb
