[project]
	description = Demo Usage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Kamsubb-Demo_Owner
	owner = group user/Kamalalochana Subbaiah (kamasubb)
[access "refs/for/refs/*"]
	read = group user/Kamalalochana Subbaiah (kamasubb)
	push = group Kamsubb-Demo_Owner
	push = group user/Kamalalochana Subbaiah (kamasubb)
	label-Code-Review = -2..+2 group Kamsubb-Demo_Owner
	label-Code-Review = -2..+2 group user/Kamalalochana Subbaiah (kamasubb)
	label-Verified = -1..+1 group user/Kamalalochana Subbaiah (kamasubb)
	rebase = group user/Kamalalochana Subbaiah (kamasubb)
	removeReviewer = group user/Kamalalochana Subbaiah (kamasubb)
	submit = group Kamsubb-Demo_Owner
	submit = group user/Kamalalochana Subbaiah (kamasubb)
	owner = group Kamsubb-Demo_Owner
	pushMerge = group Kamsubb-Demo_Owner
[access "refs/heads/*"]
	read = group user/Kamalalochana Subbaiah (kamasubb)
	create = group user/Kamalalochana Subbaiah (kamasubb)
	push = group Kamsubb-Demo_Owner
	push = +force group user/Kamalalochana Subbaiah (kamasubb)
	pushMerge = group Kamsubb-Demo_Owner
	pushMerge = group user/Kamalalochana Subbaiah (kamasubb)
	owner = group Kamsubb-Demo_Owner
	submit = group Kamsubb-Demo_Owner
[access "refs/tags/*"]
	push = group Kamsubb-Demo_Owner
	push = +force group user/Kamalalochana Subbaiah (kamasubb)
	pushTag = group user/Kamalalochana Subbaiah (kamasubb)
	pushSignedTag = group user/Kamalalochana Subbaiah (kamasubb)
	owner = group Kamsubb-Demo_Owner
	submit = group Kamsubb-Demo_Owner
	pushMerge = group Kamsubb-Demo_Owner
